* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #272133;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(202, 227, 255);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(177, 209, 247);
  background: linear-gradient(
    0deg,
    rgba(177, 209, 247, 0.85) 0%,
    rgba(177, 209, 247, 0) 25%,
    rgba(177, 209, 247, 0) 100%
  );
  z-index: 1;
}

canvas {
  border-radius: 5px;
}

#game-text {
  position: absolute;
  font-family: "Poppins", sans-serif;
  text-align: center;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
}

#game-text.game-running {
  top: 2rem;
  transform: none;
}

#game-text.game-running button,
#game-text.game-running h1 {
  display: none;
}

#game-text h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

#game-text h2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

#game-text button {
  cursor: pointer;
  background: #3cd53c;
  color: #fff;
  border: none;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  border-radius: 100px;
}
